.container {
    display: flex;
    justify-content: center;
}

#blurb {
    width: 360px;
    margin-top: 3%;
    animation: SlideIn 400ms linear;
    animation-delay: .5s;
    animation-fill-mode: both;
}

#mission {
    font-size: 16px;
    color: white;
    opacity: .65;
}

hr{
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid white;
    margin: 1em 0; 
    padding: 0;
}

hr:first-of-type{
    margin-top: 5%;
    animation: SlideInLeft 500ms linear;
    animation-delay: .5s;
    animation-fill-mode: both;
}

hr:last-of-type{
    animation: SlideInRight 500ms linear;
    animation-delay: .5s;
    animation-fill-mode: both;
}

.work {
    animation: FadeIn 600ms linear;
    animation-delay: .3s;
    animation-fill-mode: both;
}

.imgContainer {
    width: 100%;
}

img {
    border: 1px solid rgba(119,136,153,.65);
    border-radius: 10px;
    cursor: pointer;
}

.readMore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: grey;
    overflow: hidden;
    opacity:0;
    width: calc(100% - 240px);
    margin-left: 120px;
    height: 100%;
    border-radius: 10px;
    transition: opacity .3s ease-in;
}

.readMore:hover {
    opacity: 1;
}

.readMore button{
    font-size: 1vw;
    width: 25%;
    height: 8%;
    margin-bottom: 10%;
}

.readMore h1 {
    font-size: 4vw;
    color: white;
    padding-top: 5%;
}

@keyframes SlideIn { 
    0% {
       opacity: 0;
       transform: translateY(-100px);
    }

    80%{
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
  }


  @keyframes SlideInLeft { 
    0% {
       opacity: .0;
       transform: translateX(-400px);
    }

    20% {
        opacity: .4;
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
  }

  @keyframes SlideInRight { 
    0% {
       opacity: .0;
       transform: translateX(400px);
    }

    20% {
        opacity: .4;
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
  }

  @keyframes FadeIn { 
    0% {
       opacity: 0;
       transform: scale(.6);
    }

    100% {
        opacity: 1;
        transform: scale(1.0);
    }
  }




