html {
  height: auto;
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  background: rgb(115, 129, 137);
  color: lightslategray;
  font-family: "Jost", sans-serif;
  height: 100%;
}

#root {
  width: 50%;
}

#overlay {
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.5s;
}

#overlay.show {
  visibility: visible;
  transform: translateY(0);
}

#close {
  position: absolute;
  top: 1%;
  right: 1%;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
}

#navBadge a {
  transition: transform 0.15s ease-in;
  cursor: pointer;
}

#navBadge a:hover {
  transform: translateY(-3px) scale(1.3);
  color: rgb(75, 89, 100);
}

#close:hover {
  color: lightgrey;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
  -webkit-appearance: none;
}

@media (max-width: 600px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #root {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  html,
  body {
    width: 100%;
  }
  #root {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  #close {
    font-size: 60px;
  }
}

@media (min-width: 2000px) {
  #root {
    width: 65%;
  }
}

/* React Responsive Carousel Styling */

.selected {
  opacity: 1 !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid black !important;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid black !important;
}

.carousel-root {
  margin: 15px 0px !important;
  outline: none;
  overflow-y: unset;
}

.carousel .control-arrow {
  outline: 0;
  border: 0;
  background: none;
  top: 50%;
  margin-top: -13px;
  font-size: 18px;
}

.carousel .slider-wrapper {
  overflow: unset !important;
}

.carousel.carousel-slider {
  overflow: unset !important;
}

.carousel .slide {
  transition: opacity 1s ease-in;
  opacity: 0;
  padding-left: 140px;
  padding-right: 140px;
  min-width: 100% !important;
  margin: 10px 0px !important;
  position: relative !important;
  text-align: center !important;
  background: rgb(115, 129, 137) !important;
}

.carousel .control-dots {
  padding-inline-start: 0px;
  padding: 0px;
  position: absolute !important;
  bottom: -10% !important;
  text-align: center !important;
  width: 100% !important;
}

.carousel .control-dots .dot {
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  opacity: 0.3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
  background: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}

@media (hover: hover) {
  .carousel.carousel-slider .control-arrow:hover {
    background: rgba(0, 0, 0, 0.2) !important;
  }
}

@media (max-width: 400px) {
  .carousel .slide {
    padding-left: 30px;
    padding-right: 30px;
  }
  .carousel.carousel-slider .control-arrow:active {
    background: rgba(0, 0, 0, 0.2) !important;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  .carousel .slide {
    padding-left: 100px;
    padding-right: 100px;
  }
  .carousel.carousel-slider .control-arrow:active {
    background: rgba(0, 0, 0, 0.2) !important;
  }
}
@media (min-width: 1800px) {
  .carousel .control-dots {
    bottom: -10%;
  }
}
@media (min-width: 2000px) {
  .carousel .slide {
    padding-left: 30%;
    padding-right: 30%;
  }
  .dot {
    width: 14px !important;
    height: 14px !important;
  }
}
