.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#name {
    font-size: 48px;
    color: white;
}

#fname {
    font-weight: 500;
}

#lname {
    font-weight: 300;
}

.badges {
    width: 30%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

i {
    margin-left: 20%;
}
