.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#name {
    font-size: 30px;
    color: white;
}

#fname {
    font-weight: 500;
}

#lname {
    font-weight: 300;
}

.badges {
    color: white;
    width: 22%;
    transform: scale(1.5);
    display: flex;
    justify-content: space-evenly;
}